
 /** chart.shell.css*/
 /** Shell styles*/


  .chart-shell-header-title, .chart-shell-header-account-button
, .chart-shell-content-main, .chart-shell-content-main-graphpad
{
  position : absolute;
  color    : #D2E0E6;
}


.chart-shell-header {
  position      : fixed;
  top           : 0em;
  right         : 0em;
  left          : 0em;
  width         : 100%;
  height        : 4em;
  line-height   : 4em;
  background    : linear-gradient(#3C3C3C, #111111);
  z-index       : 1;

  /*border-width     : medium;*/
  /*border-style     : solid;*/
  /*border-color     : yellow;*/
}

    .chart-shell-header-title{
      left          : 50%;
      width         : 13em;
      margin-left   : -6.5em;
      height        : 3.8em;
      line-height   : 4em;
      float         : left;
      font-size     : 1em;
    }

    .chart-shell-header-account-button{
      top           : 0em;
      right         : 2em;
      height        : 4em;
      width         : 6em;
      font-size     : 1em;
      line-height   : 4em;
      font-weight   : bold;
      cursor        : pointer;
      outline       : none;
      color         : #D2E0E6;
      text-align: center;
    }


/* BEGIN MAIN CONTENT  */
.chart-shell-content{
  position      : fixed;
  top           : 4em;
  left          : 0em;
  right         : 0em;
  bottom        : 0em;
  background    : linear-gradient(#3C3C3C, #111111);

    /*border-width     : medium;*/
    /*border-style     : solid;*/
    /*border-color     : red;*/
}

    .chart-shell-content-main,
    .chart-shell-content-main-graphpad{
      top           : 0em;
      left          : 0em;
      right         : 0em;
      bottom        : 0em;

        /*border-width     : medium;*/
        /*border-style     : solid;*/
        /*border-color     : green;*/
    }
/* END MAIN CONTENT */

 /*.chart-shell-slider.chooser{*/
   /*top           : 0em;*/
   /*left          : -20em;*/
   /*bottom        : 0em;*/
   /*width         : 20em;*/

   /*border-width     : medium;*/
   /*border-style     : solid;*/
   /*border-color     : #800080;*/
 /*}*/

