.chart-table.datatable {
  position            : absolute;
  color               : black;
  background          : steelblue;
  height              : 90%;
  top                 : 2.0em;
  right               : 1.0em;
  left                : 0.5em;
  overflow-y          : auto;

  resize              : none;
}

.chart-table .subheader{
    margin: 0.4em 0.4em;
    color: white;
}

.chart-table .row {
    background: #eee;
    width: 100%;
    margin-bottom: 0.1em;
}

.chart-table .row div {
    display: inline-block;
    overflow-x: hidden;
    width: 20%;
    text-align: center;
    padding-right: 2em;
}

.chart-table .row .delay, .chart-table .row .distance{
    text-align: right;
}

.chart-table .highlight {
    color: green;
}


