/*
 * chart.bar.css
 * bar chart feature styles
*/

.chart-bar.background.bar {
    fill: #d3d3d3;
}

.chart-bar.foreground.bar {
    fill: steelblue;
}

.chart-bar.axis text {
    font: 0.7em;
}
.chart-bar.axis .axis-label {
    font: 1.0em;
}

.chart-bar.axis path,
.chart-bar.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.chart-bar.reset {
    position: absolute;
    top: 3em;
    right: 1em;
    padding-left: 1em;
    font-size: 0.8em;
    color: #330033;
}

.chart-bar.brush rect.extent{
    fill : lightsalmon;
    opacity : 0.20;
}

.chart-bar.brush .resize path {
    fill: #eee;
    stroke: #666;
    opacity: 0.50;
}