/**/
 /** chart.chat.css*/
 /** Chat feature styles*/
/**/

.chart-chat-sizer-box-title{
  color: #d3d3d3;
}

.chart-chat-head, .chart-chat-head-close.button
{
  position : absolute;
  color    : #ffffff;
}

.chart-chat{
  position      : fixed;
  top           : 4em;
  right         : 0em;
  bottom        : 0em;
  width         : 20em;
  background    : linear-gradient(#3C3C3C, #111111);

  color         : #ffffff;

  border-width     : medium;
  border-style     : solid;
  border-color     : #454545;
}

.chart-chat-head{
  top           : 0em;
  right         : 0em;
  width         : 100%;
  height        : 2.5em;

  line-height   : 2.5em;
  border-radius : 0.5em 0 0 0;
  background    : linear-gradient(#3C3C3C, #111111);
}

  .chart-chat-head-title{
    position    : absolute;
    left        : 50%;
    width       : 16em;
    margin-left : -8em;

    font-size     : 1.2em;
    font-weight   : bold;
    text-align    : center;

    z-index:0;
  }

  .chart-chat-head-min{
    position      : relative;
    top           : 0em;
    left          : 0em;
    bottom        : 0em;
    width         : 1.5em;

    float         : left;

    line-height   : 1.5em;
    font-size     : 1.5em;
    font-weight   : bold;
    text-align    : center;

    z-index: 10;
    /*background: green;*/

    border-width     : thin;
    border-style     : solid;
    border-color     : #eeeeee;
  }

  .chart-chat-head-min:hover{
    cursor : pointer;
  }




/* SLIDER CONTENT */
.chart-chat-sizer{
  position         : absolute;
  top              : 2.5em;
  left             : 0em;
  width            : 100%;
  bottom           : 0em;
  min-height       : 30em;
  margin-left      : 2%;

  font-size        : 1.2em;
  background       : linear-gradient(#3C3C3C, #111111);

  /*border-width     : medium;*/
  /*border-style     : solid;*/
  /*border-color     : blue;*/
}


  /* Messages block */
  .chart-chat-msg {
    position   : relative;
    top        : 0em;
    left       : 0em;
    bottom     : 0em;
    width      : 100%;
    min-height : 10em;
    overflow-y : auto;
    padding    : 2%;

    border-width     : medium;
    border-style     : solid;
    border-color     : #454545;
  }

    .chart-chat-msg-log {
      position        : relative;
      left            : 0em;
      right           : 0em;
      min-height      : 4em;
      max-height      : 10em;

      margin          : 2% 2%;
      overflow-y      : auto;

      background      : #000000;
      padding         : 0.5em;
      border-radius   : 1em 0 0 0;

      /*border-width    : medium;*/
      /*border-style    : solid;*/
      /*border-color    : #00ff00;*/
    }

    .chart-chat-msg-in {
      position        : relative;
      left            : 0em;
      right           : 0em;
      bottom          : 0em;

      margin          : 2% 2%;

      /*border-width     : medium;*/
      /*border-style     : solid;*/
      /*border-color     : #A0A000;*/
    }

      .chart-chat-msg-in input[type=text] {
        width       : 100%;
        height      : 2em;
        line-height : 1.5em;

        padding     : 0 0.5em;
        border      : 0;
        background  : #ddd;
        color       : #666;
      }

      .chart-chat-msg-in input[type=text]:focus {
        background : #ff8;
        color      : #222;
      }

      .chart-chat-msg-send {
        position    : absolute;
        top         : 2.5em;
        right       : 0;
        width       : 5em%;
        line-height : 2em;
        text-align  : center;
        color       : #fff;
        cursor      : pointer;

        /*border-width     : medium;*/
        /*border-style     : solid;*/
        /*border-color     : #ffbbbb;*/
      }
      .chart-chat-msg-send:hover,
      .chart-chat-msg-send.chart-x-select {
        background : #444;
        color      : #ff0;
      }

        .chart-chat-msg-log-me {
          color       : #484;
        }

        .spa-chat-msg-log-msg {
          background-color : #eee;
        }

        .chart-chat-msg-log-alert {
          font-style  : italic;
          background  : #000000;
          color       : #EE5757;
        }






  /* User block */
  .chart-chat-list {
    position         : relative;
    top              : 0em;
    left             : 0em;
    right            : 0em;
    bottom           : 0em;
    width            : 100%;
    min-height       : 6em;
    overflow-y       : auto;

    text-align       : left;
    padding          : 4%;

    border-width     : medium;
    border-style     : solid;
    border-color     : #454545;
  }


    .chart-chat-list-box {
      position        : relative;
      top             : 0em;
      right           : 0em;
      left            : 0em;
      bottom          : 0em;
      min-height      : 3em;
      max-height      : 8em;

      margin          : 2% 1%;
      overflow-y      : auto;

      background  : #000000;
      padding : 0.5em;
      border-radius: 1em 0 0 0;

      /*border-width    : medium;*/
      /*border-style    : solid;*/
      /*border-color    : #00ff00;*/
    }

      .chart-chat-list-name, .chart-chat-list-note{
        cursor           : pointer;
      }

      .chart-chat-list-name:hover {
        background-color : #330033;
        color            : #D2E0E6;
      }
      .chart-chat-list-name.chart-x-select {
        background-color : #bbbbbb;
        color            : #000000;
      }




