
.gcif-hbar.chart.axis path, .gcif-hbar.chart.axis line {
    fill: none;
    shape-rendering: crispedges;
    stroke: black;
}

.gcif-hbar.chart svg {
  font: 10px sans-serif;
}

.gcif-hbar.chart.bar rect {
  fill: steelblue;
}

.gcif-hbar.chart.bar:hover rect {
  fill: brown;
}

.gcif-hbar.chart.value {
  fill: white;
}

.gcif-hbar.chart.axis {
  shape-rendering: crispEdges;
}

.gcif-hbar.chart.axis path {
  stroke: none;
}

.gcif-hbar.chart.x.axis line {
  stroke: #fff;
  stroke-opacity: .8;
}

.gcif-hbar.chart.y.axis path {
  stroke: black;
}

.gcif-hbar.chart.label{
    font-size: 0.85em;
}

.gcif-hbar.chart.value{
    font-size: 0.8em;
}

div.gcif-hbar.chart.tooltip {
  position: absolute;
  text-align: center;
  width: 100px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightcoral;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

div.gcif-hbar.table{
    position: relative;
    top : 0;
    right: 0;

}

