svg{
    /*background-color: lightgoldenrodyellow;*/
}

.gcif-compare.chart .background path {
    fill: none;
    stroke: #ccc;
    stroke-opacity: .4;
    shape-rendering: crispEdges;
}

.gcif-compare.chart .foreground path.unhighlight {
    fill: none;
    stroke: steelblue;
    stroke-opacity: .7;
    stroke-width: 3;
}

.gcif-compare.chart .foreground path.highlight {
    fill: none;
    stroke: orange;
    stroke-opacity: .7;
    stroke-width: 3;
}


.gcif-compare.chart circle.point.unhighlight {
    fill: steelblue;
    stroke: black;
    fill-opacity: .7;
    stroke-width: 0.2;
}

.gcif-compare.chart circle.point.highlight {
    fill: orange;
    stroke: black;
    fill-opacity: .7;
    stroke-width: 0.5;
}


.gcif-compare.chart .brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.gcif-compare.chart .axis line, .gcif-compare.chart .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.gcif-compare.chart .axis text {
    text-shadow: 0 1px 0 #fff;
    cursor: move;
    font-size: 0.8em;
}

/* labels */
.gcif-compare.chart .axis > text {
    text-shadow: 0 1px 0 #fff;
    cursor: move;
    font-size: 0.9em;
}

.tooltip{
    font-size: 1.0em;
    font-weight: 800;
    color: black;
}

/*tabular */
div.gcif-compare.table{
    margin-top: 2em;
}

div.gcif-compare.table tbody:nth-child(even)
{
    background:rgba(76, 80, 169, 0.10);
}

div.gcif-compare.table tr:hover td{
    background-color: rgba(76, 80, 169, 0.10);
}

.gcif-compare.table th.header{
    text-align: center;
}

.gcif-compare.table td.indicator{
    text-align: center;
}

.gcif-compare.table td.key.indicator{
    text-align: left;
}

